body {
  font-family: "Poppins", sans-serif;
  color: #48494a;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  animation: fadeInUp 1s;
}

.button-link {
  text-decoration: none;
}

button:hover {
  background: #c4e201;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
